.toolbar {
  justify-content: space-between;
}

.close-button {
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.form-container {
  margin: 20px;
}

.input-container {
  display: grid;
  margin: 10px 20px 10px 20px;
  grid-column-gap: 20px;
  grid-template-columns: auto auto;
}

.button {
  min-width: 100px;
  width: 20%;
  margin: 0px 10px 20px 10px;
}

.actions-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0px 10px 20px;
}

.mat-form-field {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .input-container {
    display: block;
  }
}
