<div class="container mat-elevation-z8">
  <mat-toolbar color="primary">
    <mat-toolbar-row class="toolbar">
      <span>New Contact</span>
      <a class="close-button" (click)="backToList()">
        <mat-icon>clear</mat-icon>
      </a>
    </mat-toolbar-row>
  </mat-toolbar>

  <form
    class="form"
    (ngSubmit)="onSubmit()"
    [formGroup]="contactForm"
    #formDirective="ngForm"
  >
    <div class="input-container">
      <mat-form-field class="form-element">
        <mat-label>First Name</mat-label>
        <input
          matInput
          formControlName="firstName"
          placeholder="Enter your first name"
          required
        />
        <mat-error *ngIf="contactForm.get('firstName').invalid"
          >You must enter a value</mat-error
        >
      </mat-form-field>

      <mat-form-field class="form-element">
        <mat-label>Last Name</mat-label>
        <input
          matInput
          formControlName="lastName"
          placeholder="Enter your last name"
          required
        />
        <mat-error *ngIf="contactForm.get('lastName').invalid"
          >You must enter a value</mat-error
        >
      </mat-form-field>

      <mat-form-field class="form-element">
        <mat-label>Company</mat-label>
        <input
          matInput
          formControlName="company"
          placeholder="Enter your company"
          required
        />
        <mat-error *ngIf="contactForm.get('company').invalid"
          >You must enter a value</mat-error
        >
      </mat-form-field>

      <mat-form-field class="form-element">
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="email"
          placeholder="Enter your email"
          required
        />
        <mat-error *ngIf="contactForm.get('email').errors?.required"
          >You must enter a value</mat-error
        >
        <mat-error *ngIf="contactForm.get('email').errors?.pattern"
          >You must enter a valid email</mat-error
        >
      </mat-form-field>

      <mat-form-field class="form-element">
        <mat-label>Phone</mat-label>
        <ngx-mat-intl-tel-input
          formControlName="phone"
          [preferredCountries]="['us', 'ca', 'in']"
          [enablePlaceholder]="true"
          name="phone"
          #phone
        >
        </ngx-mat-intl-tel-input>
        <mat-error *ngIf="contactForm.get('phone').errors?.required"
          >You must enter a value</mat-error
        >
        <mat-error *ngIf="contactForm.get('phone').errors?.validatePhoneNumber"
          >You must enter a valid phone number</mat-error
        >
      </mat-form-field>

      <mat-form-field class="form-element">
        <mat-label>Address</mat-label>
        <input
          matInput
          formControlName="address"
          placeholder="Enter your address"
          required
        />
        <mat-error *ngIf="contactForm.get('address').invalid"
          >You must enter a value</mat-error
        >
      </mat-form-field>
    </div>

    <div class="actions-container">
      <button
        mat-raised-button
        color="basic"
        type="button"
        class="button"
        (click)="clearFields()"
      >
        Clear
      </button>
      <button mat-raised-button color="primary" type="submit" class="button">
        Submit
      </button>
    </div>
  </form>
</div>
